.table {
	margin-top: 20px;
}

.hide {display:none;}

.show {height:80px;}

.wineImage {
	max-width: 200px;
	max-height: 300px;
}
.product {
	text-align: center;
}
.new-line {
	clear:left;
	float:left;
}

.alcohol, .sugar-content, .body, .price {
	width: 100%;
}

.filter__list .active {
	color : #ff4136;
}