.pagination {
	display: block;
	text-align: center;
}

.pagination > li > a {
	float: none;
	margin-left: -5px;
	color: black;
}

.table {
	margin-top: 20px;
}

.hide {display:none;}

.show {height:80px;}