.single-checkout-box input[type="button"] {
    border: 1px solid #c1c1c1;
    border-radius: 0;
    color: #767676;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    width: 10%;
    margin-bottom: 40px;
}

.table-content th:nth-child(1), .table-content td::nth-child(1){
	width: 10%;
}

.table-content th:nth-child(2), .table-content td:nth-child(2){
	width: 25%;
}

.table-content th:nth-child(3), .table-content td:nth-child(3){
	width: 25%;
}

.table-content th:nth-child(4), .table-content td:nth-child(4){
	width: 10%;
}

.table-content th:nth-child(5), .table-content td:nth-child(5){
	width: 20%;
}

.payment-form .single-checkout-box {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #c1c1c1;
}

.payment-form .single-checkout-box span {
	font-size: 15pt;
	display: inline-block;
	margin: 15px 10px;
}

.payment-form .single-checkout-box span:first-child {
	font-weight: bold;
	width: 25%;
}

.payment-form .single-checkout-box:first-child, .payment-form .single-checkout-box:last-child {
	border-bottom: none;
}

.order-wrapper{
	
}

.orderInfo {
	width: 55%;
	display: inline-block;
}

.puick-contact-area {
	width: 35%;
	display: inline-block;
	float:right;
}

.wc-proceed-to-checkout {
	margin-top: 50px;
	text-align: right;
}