#write, #update, #delete, #create, #reply, #back {
	border: 1px solid #d5d5d5;
    display: block;
    margin: auto;
    float: right;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 60px;
    color: #4b4b4b;
    text-transform: uppercase;
}

#write:hover, #update:hover, #delete:hover, #create:hover, #reply:hover, #back:hover, #replyUpdate:hover, #replyDelete:hover {
	background: #ff4136;
    color: #fff;
    text-shadow: none;
}