<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- levin_address table에 접근하는 sql -->                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.user">
	
	<!-- 회원가입시 주소등록 신규 배송지 추가 -->
	<insert  id="createNewAddress" parameterType="OrderAddress">
		INSERT INTO levin_address
		(
					address_id,
					email,
					address,
					zip_code,
					detailed_address,
          			regdate
		)VALUES(
					(select nvl(max(address_id) + 1, 1)  from levin_address),
          			#{email},
					#{address},
					#{zipCode},
					#{detailedAddress},
					sysdate
		)
	</insert>
	
	<!-- 배송지 목록 불러오기 -->
	<select id="list" parameterType="String" resultType="Address" >
		SELECT address_id       addressId, 
       		   address, 
       		   zip_code         zipCode, 
       		   detailed_address detailedAddress 
		FROM   levin_address 
		WHERE  email = #{email}
		AND	   del_yn ='N'
		ORDER  BY regdate DESC 
	</select>
	
	<!-- 주소 중복 확인 -->
	<select id="certify" parameterType="Address" resultType="String" >
		SELECT email 
		FROM   levin_address 
		WHERE  zip_code = #{zipCode} 
       	AND detailed_address = #{detailedAddress} 
       	AND email = #{email}
	</select>
	
	<!-- 배송지 삭제하기 -->
	<update id="delete" parameterType="String">
		UPDATE levin_address
		SET    del_yn = 'Y'
		WHERE  address_id = #{addressId}
	</update>
	
	
		
</mapper>