<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원 기능 중, Address table에 접근하는 sql -->                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.order">
	
	<!-- 배송지 정보 등록 -->
	
	<insert  id="createDelivery" parameterType="Delivery">
	<selectKey resultType="hashmap" keyProperty="orderId, addressId" order="BEFORE">
        select order_id_seq.currval as orderId, address_id_seq.currval as addressId  FROM DUAL      
    </selectKey>
		INSERT INTO levin_deliverys
		(
  					order_id,
					address_id,
					receiver_name,
					receiver_mobile,
					delivery_comments
		)VALUES(
  					#{orderId},
  		<if test="newTF != null">
  					#{addressId},
  		</if>
  		<if test="newTF == null">#{addressId}</if>		
  					#{receiverName},
  					#{receiverMobile},
  					#{deliveryComments}
		)
	</insert>
		
</mapper>