<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- levin_orders table에 접근하는 sql -->                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.order">
	
	<!-- 주문 정보 등록 -->
	<insert  id="createOrder" parameterType="Order" keyProperty="order_id">
		INSERT INTO levin_orders 
        (
            		order_id, 
             		email, 
             		order_money, 
             		order_date, 
            		is_paid
        ) VALUES ( 
        			order_id_seq.nextval, 
            		#{email}, 
            		#{orderMoney}, 
            		SYSDATE, 
            		'Y' 
        )
         
	</insert>
	
	<select id="listByPage" parameterType="map" resultType="map" >
		SELECT  orderId, 
				email, 
       			orderMoney, 
       			orderDate, 
       			isPaid, 
       			regdate, 
       			refundCompleteDate, 
       			startDate, 
       			deliveryCompleteDate 
		FROM   (SELECT  Ceil (ROWNUM / 5) request_page, 
               			orderId, 
               			email, 
               			orderMoney, 
               			orderDate, 
               			isPaid, 
               			regdate, 
               			refundCompleteDate, 
               			startDate, 
               			deliveryCompleteDate 
        		FROM   (SELECT  o.order_id      orderId, 
                       			o.email, 
                       			o.order_money   orderMoney, 
                       			o.order_date    orderDate, 
                       			o.is_paid       isPaid, 
                       			r.regdate, 
                       			r.complete_date refundCompleteDate, 
                       			d.start_date    startDate, 
                       			d.complete_date deliveryCompleteDate 
                		FROM    levin_orders o 
                        full join levin_refunds r 
                               ON o.order_id = r.order_id 
                        full join levin_deliverys d 
                               ON o.order_id = d.order_id 
                 WHERE  o.email = #{email})) 
		 WHERE  request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 상품 갯수 조회 -->
	<select id="countByList"  parameterType="String" resultType="int">
		SELECT COUNT(order_id) count 
		FROM   levin_orders
		WHERE  email=#{email}
	</select>
	
		
</mapper>