<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- levin_orders table에 접근하는 sql -->                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.order">
	
	<!-- 주문 정보 등록 -->
	<insert  id="createOrder" parameterType="Order" keyProperty="order_id">
		INSERT INTO levin_orders 
        (
            		order_id, 
             		email, 
             		order_money, 
             		order_date, 
            		is_paid
        ) VALUES ( 
        			order_id_seq.nextval, 
            		#{email}, 
            		#{orderMoney}, 
            		SYSDATE, 
            		'Y' 
        )
         
	</insert>
	<!-- 주문 목록(페이징 처리 완료) -->
	<select id="listByPage" parameterType="map" resultType="map" >
		SELECT  orderId 			"orderId", 
				email 				"email", 
       			orderMoney			"orderMoney", 
       			orderDate			"orderDate", 
       			isPaid				"isPaid", 
       			regdate				"regdate", 
       			refundCompleteDate	"refundCompleteDate", 
       			startDate			"startDate", 
       			deliveryCompleteDate "deliveryCompleteDate"
		FROM   (SELECT  Ceil (ROWNUM / 5) request_page, 
               			orderId, 
               			email, 
               			orderMoney, 
               			orderDate, 
               			isPaid, 
               			regdate, 
               			refundCompleteDate, 
               			startDate, 
               			deliveryCompleteDate 
        		FROM   (SELECT  o.order_id      orderId, 
                       			o.email, 
                       			o.order_money   orderMoney, 
                       			TO_CHAR(o.order_date, 'yy/mm/dd')    orderDate, 
                       			o.is_paid       isPaid, 
                       			TO_CHAR(r.regdate, 'yy/mm/dd') regdate, 
                       			r.complete_date refundCompleteDate, 
                       			d.start_date    startDate, 
                       			d.complete_date deliveryCompleteDate 
                		FROM    levin_orders o 
                        full join levin_refunds r 
                               ON o.order_id = r.order_id 
                        full join levin_deliverys d 
                               ON o.order_id = d.order_id 
                 WHERE  o.email = #{email})) 
		 WHERE  request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 주문 목록 조회 -->
	<select id="countByList"  parameterType="String" resultType="int">
		SELECT COUNT(order_id) count 
		FROM   levin_orders
		WHERE  email=#{email}
	</select>
	
	<!--  주문상세 중 주문, 배송, 배송지 정보 조회 -->
	<select id="getOrder"  parameterType="map" resultType="map">
		SELECT o.order_id         orderId, 
       		   o.email            email, 
       		   o.order_money      orderMoney, 
       		   o.order_date       orderDate, 
       		   o.is_paid          isPaid, 
       		   o.cancel_date      cancelDate, 
       		   r.regdate          regdate, 
       		   r.complete_date    refundCompleteDate, 
       		   d.receiver_name    receiverName, 
       		   d.receiver_mobile  receiverMobile, 
       		   d.start_date       startDate, 
       		   d.complete_date    deliveryCompleteDate, 
       		   a.address          address, 
       		   a.detailed_address detailedAddress, 
       		   a.zip_code         zipCode 
		 FROM   levin_orders o 
       	 full join levin_refunds r 
                ON o.order_id = r.order_id 
         full join levin_deliverys d 
                ON o.order_id = d.order_id 
         full join levin_address a 
                ON d.address_id = a.address_id 
		 WHERE  o.email = #{email} 
         AND o.order_id = #{orderId}
	</select>
	
	<!--  주문상세 중 상품 정보 조회 -->
	<select id="getProduct"  parameterType="String" resultType="map">
		SELECT ol.product_id      productId, 
       		   ol.quantity        quantity, 
       		   p.product_name_kor productNameKor 
		FROM   levin_order_lists ol 
        full join levin_products p 
               ON ol.product_id = p.product_id 
		WHERE  ol.order_id = #{orderId}
	</select>
	
		
</mapper>