<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                       
<!-- Product, Price table에 접근하는 sql -->  
                      
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.product">
	
	<!-- 전체상품 조회 -->
	<select id="listByPage" parameterType="SearchPagination" resultType="Product" >
		SELECT productId, 
			   productNameKor, 
			   price, 
			   kind,
			   totalQuantity "totalQuantity" 
		FROM   (SELECT Ceil(ROWNUM / #{perPageNum}) request_page, 
               		   productId, 
               		   productNameKor, 
               		   price, 
               		   kind,
               		   totalQuantity 
        		FROM   (SELECT pro.product_id       productId, 
                       		   pro.product_name_kor productNameKor, 
                       		   pri.price            price, 
                       		   pro.kind             kind,
                       		   pro.total_quantity   totalQuantity
                		FROM   levin_products pro 
                       	INNER JOIN levin_prices pri 
                        ON pro.product_id = pri.product_id
                        <if test="searchKeyword != null">
							WHERE pro.kind = #{searchKeyword}
						</if>
                		ORDER  BY pro.product_id)) 
		WHERE  request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 상품 갯수 조회 -->
	<select id="countBySearch"  parameterType="SearchPagination" resultType="int">
		SELECT COUNT(product_id) count 
		FROM   levin_products
		<if test="searchKeyword != null">
				WHERE kind = #{searchKeyword}
		</if>
	</select>
	
	<!-- 상품 상세보기 -->
	<select id="getProduct" parameterType="String" resultType="Product" >
		SELECT pro.product_id       productId, 
       		   pro.product_name_kor productNameKor, 
       		   pro.product_name_eng productNameEng, 
       		   pro.alcohol          alcohol, 
       		   pro.kind             kind, 
       		   pro.sugar_content    sugarContent, 
       		   pro.body, 
       		   pro.vintage, 
       		   pro.grape_kind       grapeKind, 
       		   pro.total_quantity   totalQuantity, 
       		   pro.winery, 
       		   pri.price, 
       		   reg.region_id        regionId, 
       		   reg.region_name      regionName 
		FROM   levin_products pro 
        inner join levin_prices pri 
                ON pro.product_id = pri.product_id 
       	inner join levin_regions reg 
               ON pro.region_id = reg.region_id 
		WHERE  pro.product_id = #{productId}
	</select>
	
	<!-- 상품 문의글 조회 -->
	<select id="listByPageQna" parameterType="map" resultType="ProductQna" >
		SELECT  qnaId, 
       		    productId, 
        	    writer, 
        		title,
        		content,
        		regdate,
        		deleteYn,
        		privateYn 
      	FROM   (SELECT Ceil(rownum / 5) request_page, 
               		   qnaId, 
               		   productId, 
               		   writer, 
               		   title,
               		   content,
               		   regdate,
               		   deleteYn,
                       privateYn
               FROM   (SELECT  qna_id qnaId,
                               product_id productId,
                               writer,
                               title,
                               content,
                               TO_CHAR(regdate, 'yyyy-mm-dd') regdate,
                               delete_yn deleteYn,
                               private_yn privateYn 
                       FROM   levin_product_qnas 
                       WHERE  qna_id NOT IN (SELECT child_id 
                                             FROM   levin_product_qnas_comments)                         
                      and product_id = #{productId} 
                      ORDER  BY qna_id DESC)) 
		WHERE  request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 상품 문의글 갯수 조회 -->
	<select id="countBySearchQna"  parameterType="String" resultType="int">
		SELECT COUNT(qna_id) count 
		FROM   levin_product_qnas
		WHERE  product_id NOT IN (SELECT child_id 
                          FROM   levin_product_qnas_comments)                         
		and product_id = #{productId}
	</select>
	
	<!-- 상품 문의 댓글 조회 -->
	<select id="listQnaComment" parameterType="map" resultType="ProductQnaComment" >
		SELECT qnas.qna_id     	commentId,
			   qnas.product_id  productId, 
       		   qnas.content     content,
       		   qnas.writer      writer, 
       		   TO_CHAR(qnas.regdate, 'yyyy-mm-dd')     regdate, 
       		   qnas.delete_yn   deleteYn, 
       		   qnas.private_yn  privateYn 
		FROM   levin_product_qnas qnas 
        full join levin_product_qnas_comments comms 
               ON qnas.qna_id = comms.child_id 
		WHERE  comms.parent_id = #{qnaId}
		AND    qnas.product_id = #{productId}
	</select>
	
	<!-- 상품 문의 등록 -->
	<insert id="createQna" parameterType="ProductQna">
		INSERT INTO levin_product_qnas
		(
					qna_id,
        			product_id,
       				writer,
        			title,
        			private_yn,
        			content,
        			regdate    
		)VALUES(
					qna_id_seq.nextval,
          			#{productId},
					#{writer},
					#{title},
					#{privateYn},
					#{content},
					SYSDATE
		)
	</insert>
	 
	 <!-- 구매후기글 리스트 -->
	<select id="reviewListByPage" parameterType="map" resultType="Review" >
	  SELECT 
      		  reviewId, 
       		  productId,
       		  email,  
      		  title,
       		  content,
       		  grade,
       		  regdate,
       		  deleteYN
      FROM   (SELECT Ceil(rownum / #{perPageNum}) request_page, 
               		 reviewId,
               		 productId, 
               		 email, 
               		 title,
                     content,
                     grade,
               		 regdate,
               		 deleteYN 
              FROM   (SELECT  review_id         reviewId,
              				  product_id		productId, 
                              email, 
                              title,
                              content,
                              grade,
                              TO_CHAR(regdate, 'yyyy-mm-dd') regdate,
                              delete_yn         deleteYN 
                      FROM   levin_reviews
                      WHERE  review_id NOT IN (SELECT child_id
                                                FROM   levin_reviews_comments)                         
                      and 	 product_id = #{productId}
                      ORDER  BY review_id DESC)) 
	   WHERE  request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 구매후기글 갯수 조회 -->
	<select id="reviewCountBySearch"  parameterType="map" resultType="int">
	  SELECT COUNT(review_id) count 
	  FROM   levin_reviews
	  WHERE  review_id NOT IN (SELECT child_id 
                          	   FROM   levin_reviews_comments)                         
	  AND product_id = #{productId}
	</select>
	
	<!-- 구매후기 상세보기 -->
	<select id="readReview" parameterType="int" resultType="Review">
	  SELECT review_id, 
	  		 product_id,
        	 email, 
       	     title, 
       	     content, 
       	     grade, 
       	     To_char(regdate, 'yyyy-mm-dd') regdate 
	  FROM   levin_reviews 
	  WHERE  review_id = #{reviewId} 
	</select>
	
	<!-- 구매후기 등록 -->
	<insert id="createReview" parameterType="Review">
	  INSERT INTO levin_reviews 
      ( 
                        review_id, 
                        product_id, 
                        email, 
                        title, 
                        content, 
                        grade, 
                        regdate, 
                        delete_yn 
      )VALUES( 
                        review_id_seq.NEXTVAL, 
                        #{productId}, 
                        #{email}, 
                        #{title}, 
                        #{content}, 
                        #{grade}, 
                        SYSDATE, 
                        'N' 
      )
	</insert>
	
	<!-- 상품 문의 댓글 등록 -->
	<insert id="createQnaComment" parameterType="ProductQna">
		INSERT INTO levin_product_qnas
		(
					qna_id,
       			 	product_id,
        			writer,
        			content,
        			private_yn,
        			regdate	    
		)VALUES(
					qna_id_seq.nextval,
          			#{productId},
					#{writer},
					#{content},
          			#{privateYn},
          			SYSDATE
		)
	</insert>
	
	<!-- 상품 문의 댓글 등록 -->
	<insert id="createQnaCommentId" parameterType="int">
		INSERT INTO levin_product_qnas_comments 
        (
        			parent_id, 
             		child_id
        ) VALUES  (
        			(SELECT qna_id 
             		FROM   levin_product_qnas 
             		WHERE  qna_id = #{qnaId}),
            		qna_id_seq.CURRVAL
         )
	</insert>
      <!-- 구매후기 수정 -->
    <update id="updateReview" parameterType="Review">
      UPDATE levin_reviews 
	  SET    title = #{title}, 
       		 content = #{content}, 
       		 grade = #{grade}
	  WHERE  review_id = #{reviewId} 
	</update>
	  
	  <!-- 구매후기 삭제 -->
	<update id="deleteReview" parameterType="int">
	  update LEVIN_REVIEWS
	  set 	 DELETE_YN = 'Y'
	  where  review_id = #{reviewId}
	</update>

	  <!-- 구매후기 댓글 등록  -->
	<insert id="createReviewComment" parameterType="map">
	  INSERT INTO levin_reviews 
      ( 
                        review_id, 
                        product_id, 
                        email, 
                        content, 
                        regdate, 
                        delete_yn 
      ) VALUES ( 
                        review_id_seq.NEXTVAL, 
                        #{productId}, 
                        #{email}, 
                        #{content}, 
                        SYSDATE, 
                        'N' 
      )
	</insert>
	
	<!-- 구매후기 댓글 등록  -->
	<insert id="createReviewCommentId" parameterType="int">
	  INSERT INTO levin_reviews_comments 
      (
      		 	parent_id, 
             	child_id
      ) VALUES ( 
      			(SELECT review_id 
                 FROM   levin_reviews 
                 WHERE  review_id = #{parentId}), 
            	 review_id_seq.CURRVAL 
      ) 
      </insert>

	<!-- 상품문의글 상세보기 -->
	<select id="readQna" parameterType="String" resultType="ProductQna">
	  SELECT qna_id 		qnaId, 
       		 product_id		productId, 
       		 title, 
       		 content,
       		 writer,
       		 private_yn		privateYn, 
       		 TO_CHAR(regdate, 'yyyy-mm-dd') regdate 
	  FROM   levin_product_qnas 
	  WHERE  qna_id = #{qnaId} 
	</select>
	

	<!-- 상품문의글 수정하기 -->
	<update id="updateQna" parameterType="ProductQna">
	  UPDATE levin_product_qnas 
	  SET    title = #{title}, 
       		 content = #{content} 
	  WHERE  qna_id = #{qnaId}
	</update>


	<!-- 구매후기 댓글리스트 -->
	<select id="listReviewComment" parameterType="int" resultType="ReviewComment">
	  SELECT reviews.review_id     commentId, 
       		 reviews.email, 
       		 reviews.content, 
       		 To_char(reviews.regdate, 'yyyy-mm-dd') regdate, 
       		 reviews.delete_yn     deleteYN 
	  FROM   levin_reviews 	reviews 
      full join levin_reviews_comments comms 
             ON reviews.review_id = comms.child_id 
	  WHERE  comms.parent_id = #{parentId} 
	</select>
	
	<!-- 구매후기 댓글 수정 -->
	<update id="updateReviewComment" parameterType="map">
	  UPDATE levin_reviews 
	  SET    content = #{content} 
	  WHERE  review_id = #{childId} 
	</update>
</mapper>