<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                       
<!-- Product, Price table에 접근하는 sql -->  
                      
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.privateqna">
	
	<!-- 1:1문의 등록-->
	<insert id="createQna" parameterType="PrivateQna">
		INSERT INTO levin_private_qnas 
        (
            		 article_id, 
             		 email, 
             		 category, 
             		 title, 
             		 content, 
             		 regdate,  
             		 delete_yn
		)VALUES(
					 article_id_seq.NEXTVAL, 
            		 #{email}, 
            		 #{category}, 
            		 #{title}, 
            		 #{content}, 
            		 SYSDATE, 
            		 'N'
        )
	 </insert>
	
	<!-- 1:1문의글 수정-->
	<update id="updateQna" parameterType="PrivateQna">
		UPDATE levin_private_qnas 
       	SET
            	category = #{category}, 
           		title = #{title}, 
            	content = #{content}
        WHERE email = #{email} and article_id = #{articleId}
	</update>
	 
	<!-- 1:1문의 리스트 -->
	<select id="listByPage" parameterType="map" resultType="PrivateQna" >
		SELECT articleId, 
               email, 
               category, 
               title,
               content,
               regdate,
               deleteYN 
		FROM   (SELECT Ceil(ROWNUM / #{perPageNum}) request_page, 
               		   articleId, 
               		   email, 
               		   category, 
               		   title,
               		   content,
               		   regdate,
               		   deleteYN 
        		FROM   (SELECT article_id       	articleId, 
                       		   email, 
                       		   category, 
       						   title, 
       						   content, 
       						   TO_CHAR(regdate, 'yy/mm/dd') regdate,
       						   DECODE(delete_yn, 'Y' , 1,
				                              	 'N' , 0) deleteYN 
						FROM   levin_private_qnas
						WHERE  article_id NOT IN (SELECT child_id 
                                           		  FROM   levin_private_qnas_comments) 
                       	AND email = #{email} 	
						<if test="searchType != null">
							AND category = #{searchType} 
						</if>
                		ORDER  BY article_id DESC)) 
		WHERE request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 문의 갯수 조회 -->
	<select id="countBySearch"  parameterType="map" resultType="int">
		SELECT Count(article_id) count 
		FROM   levin_private_qnas 
		WHERE  article_id NOT IN (SELECT child_id 
                          		  FROM   levin_private_qnas_comments) 
        AND email = #{email}
		<if test="searchType != null">
				AND category = #{searchType}
		</if>
	</select>
	 
	 <!-- 1:1문의글 상세보기 -->
	 <select id="readQna" parameterType="int" resultType="PrivateQna">
	 	SELECT article_id    	articleId, 
       		   email, 
       		   category, 
       		   title, 
       		   content,
       		   delete_YN		"deleteYN", 
       		   TO_CHAR(regdate, 'yy/mm/dd') regdate
		FROM   levin_private_qnas 
		WHERE  article_id = #{articleId}
	 </select>
	 
	 <!-- 1:1문의글 삭제-->
	<update id="deleteQna" parameterType="int">
		UPDATE levin_private_qnas 
		SET    delete_yn = 'Y' 
		WHERE  article_id = #{articleId} 
	</update>
	 
	 <!-- 1:1문의글의 댓글 내용 등록 -->
	<insert id="createCommentContent" parameterType="map">
		INSERT INTO levin_private_qnas
		(			 
					 article_id,
					 email,
					 category,
					 content,
					 regdate,
					 delete_yn
		) VALUES ( 
					 article_id_seq.NEXTVAL,
					 #{email},
					 #{category},
					 #{content},
					 SYSDATE,
					 'N'
		)
	 </insert>
		
	<!-- 1:1문의글의 댓글번호 및 부모번호 등록 -->
	<insert id="createCommentId" parameterType="map">
		INSERT INTO levin_private_qnas_comments 
        (
        			 parent_id, 
             		 child_id
        ) VALUES ( 
        			 (SELECT article_id 
             		  FROM   levin_private_qnas 
             		  WHERE  article_id = #{parentId}), 
            		 article_id_seq.CURRVAL
        ) 
	</insert>
	
	<!-- 1:1문의글의 댓글리스트 조회 -->
	<select id="list" parameterType="int" resultType="PrivateQnaComment">
		SELECT qnas.article_id commentId, 
       		   qnas.email      email, 
       		   qnas.content    content, 
       		   TO_CHAR(qnas.regdate, 'yy/mm/dd')    regdate, 
       		   qnas.delete_yn  deleteYN 
		FROM   levin_private_qnas qnas 
        full join levin_private_qnas_comments comms 
               ON qnas.article_id = comms.child_id 
		WHERE  comms.parent_id = #{parentId} 
	</select>
	 
	 <!-- 1:1문의글 댓글 수정 -->
	 <update id="updateComment" parameterType="map">
		UPDATE levin_private_qnas 
		SET    content = #{content}
		WHERE  article_id = #{childId} 
	</update>
	
	<!-- 1:1문의글 댓글 삭제 -->
	 <update id="deleteComment" parameterType="int">
		UPDATE levin_private_qnas
		SET    delete_yn = 'Y' 
		WHERE  article_id = #{childId}
	</update>
</mapper>