<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                       
<!-- Product, Price table에 접근하는 sql -->  
                      
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.privateqna">
	
	<!-- 1:1문의 등록-->
	<insert id="createQna" parameterType="PrivateQna">
		INSERT INTO levin_private_qnas 
        (
            		 article_id, 
             		 email, 
             		 category, 
             		 title, 
             		 content, 
             		 regdate, 
             		 delete_yn
		)VALUES(
					 article_id_seq.NEXTVAL, 
            		 #{email}, 
            		 #{category}, 
            		 #{title}, 
            		 #{content}, 
            		 SYSDATE, 
            		 'N'
        )
	 </insert>
	
	<!-- 1:1문의글 수정-->
	<update id="updateQna" parameterType="PrivateQna">
		UPDATE levin_private_qnas 
       	SET
            	category = #{category}, 
           		title = #{title}, 
            	content = #{content}
        WHERE email = #{email} and article_id = #{articleId}
	</update>
	 
	<!-- 1:1문의 리스트 -->
	<select id="listByPage" parameterType="map" resultType="PrivateQna" >
		SELECT articleId, 
               email, 
               category, 
               title,
               content,
               regdate,
               deleteYN 
		FROM   (SELECT Ceil(ROWNUM / #{perPageNum}) request_page, 
               		   articleId, 
               		   email, 
               		   category, 
               		   title,
               		   content,
               		   regdate,
               		   deleteYN 
        		FROM   (SELECT article_id       	articleId, 
                       		   email, 
                       		   category, 
       						   title, 
       						   content, 
       						   regdate, 
       						   delete_yn  			deleteYN 
						FROM   levin_private_qnas
						WHERE  article_id NOT IN (SELECT child_id 
                                           		  FROM   levin_private_qnas_comments) 
                       	AND email = #{email} 	
						<if test="searchType != null">
							AND category = #{searchType} 
						</if>
                		ORDER  BY article_id DESC)) 
		WHERE request_page = #{currentPage}
	</select>
	
	<!-- 검색해온 문의 갯수 조회 -->
	<select id="countBySearch"  parameterType="map" resultType="int">
		SELECT COUNT(article_id) count 
		FROM   levin_private_qnas
		WHERE email = #{email}
		<if test="searchType != null">
				AND category = #{searchType}
		</if>
	</select>
	 
	 <!-- 1:1문의글 상세보기 -->
	 <select id="readQna" parameterType="int" resultType="PrivateQna">
	 	SELECT article_id    	articleId, 
       		   email, 
       		   category, 
       		   title, 
       		   content, 
       		   regdate 
		FROM   levin_private_qnas 
		WHERE  article_id = #{articleId}
	 </select>
	 
	 <!-- 1:1문의글 삭제-->
	<update id="deleteQna" parameterType="int">
		UPDATE levin_private_qnas 
		SET    delete_yn = 'Y' 
		WHERE  article_id = #{articleId} 
	</update>
</mapper>