<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                       
<!-- User table에 접근하는 sql -->  
                      
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.levin.user">
	
	<!-- 전체회원 조회 -->
	<select id="listAll" resultType="User" >
		SELECT id                                        "id", 
		       name                                      "name", 
		       passwd                                    "passwd", 
		       email                                     "email", 
		       TO_CHAR(regdate, 'YYYY/MM/DD HH24:MI:SS') "regdate"
		FROM   users 
	</select>
	
	<!-- 로그인 -->
	<select id="certifyUser" parameterType="User" resultType="map" >
		SELECT email 
		FROM   levin_users 
		WHERE  email = #{email}
       	AND password = #{password}
	</select>
	
	<!-- 회원가입 이메일 중복확인 -->
	<select id="certifyEmail" parameterType="String" resultType="map" >
		SELECT email 
		FROM   levin_users 
		WHERE  email = #{email} 
	</select>

	<!-- 회원 기본 정보 등록 -->
	<insert  id="createUser" parameterType="User">
		INSERT INTO levin_users
		(
					email,
					password,
					user_name,
					mobile,
					regdate
		)VALUES(
					#{email},
					#{password},
					#{userName},
					#{mobile},
					sysdate
		)
	</insert>
	
	<!-- 회원 기본정보 목록-->
	<select id="readBasicInfo" parameterType="String" resultType="User">
		SELECT 	email, 
	   		   	password, 
       			user_name "userName", 
       			mobile, 
       			regdate 
		FROM   levin_users 
		WHERE  email = #{email} 
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateInfo" parameterType="User">
		UPDATE levin_users
		<set>
	        <if test="password != null">password = #{password},</if>
	        <if test="mobile != null">mobile = #{mobile}</if>
	    </set>
	    WHERE email = #{email}
	</update>
	
	<!-- 회원 기본 정보 등록 -->
	<insert  id="generateValiNum" parameterType="EmailVali">
		INSERT INTO levin_email_validations
		(
					email,
					vali_number,
					is_validated,
					created_date,
					type
		)VALUES(
					#{email},
					#{valiNumber},
					'N',
					sysdate,
					'findpw'
		)
	</insert>
	
	<!-- 인증번호 확인하기-->
	<select id="chechValidationNumber" parameterType="String" resultType="String">
		SELECT vali_number
		FROM levin_email_validations
		WHERE vali_number=#{valiNumber} 
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updatePassword" parameterType="map">
		UPDATE levin_users
		SET    password = #{password}
		WHERE  email = #{email}
	</update>
	 
</mapper>