<meta charset="utf-8">
<form id="findPasswordForm" class="login">
  <input type="email" name="email" placeholder="이메일">
  <input type="text" placeholder="인증번호" style="display: none;">
  <div class="tabs__checkbox" style="display: none;">
    <span class="countTimeMinute"></span>분 
    <span class="countTimeSecond"></span>초
  </div>
  <input type="button" value="비밀번호 찾기" id="findPwButton">
</form>

<script>
$(document).on('click', '#findPwButton', function() {
	// 이메일로 비밀번호 찾기 Ajax
	$.ajax(Utils.baseUrl + "user/password-find.mall", {
		method: "post",
		dataType: "json",
		data: {
			"email": $('input[type=text]').val();
		},
		success: function(data) {
			$('input[type=text]').css("display", "block");
			$('.tabs__checkbox').css("display", "block");
		},
		error: function(data) {
			snackbar('인증번호가 올바르지 않습니다.');
		}
	});
});
</script>