<meta charset="utf-8">
<form id="findPasswordForm" class="login">
  <input type="email" name="email" placeholder="이메일">
  <input type="text" placeholder="인증번호">
  <div class="tabs__checkbox">
    <span class="countTimeMinute"></span>분 
    <span class="countTimeSecond"></span>초
  </div>
  <input type="button" value="비밀번호 찾기" id="findPwButton">
</form>

<script>
$(document).on('click', '#findPwButton', function() {
	$.ajax(Utils.baseUrl + "user/password-find.mall", {
		method: "post",
		dataType: "json",
		data: {
			"email": $('input[type=text]').val();
		},
		success: function(data) {
			// 동적변화 예정
		},
		error: function(data) {
			alert('에러발생');
		}
	});
});
</script>