<meta charset="utf-8">
<form id="loginForm" class="login">
  <input type="email" name="email" placeholder="이메일">
  <input type="password" name="password" placeholder="비밀번호">
  <div class="tabs__checkbox">
    <input type="checkbox" id="checkbox"><span>아이디 저장하기 </span>
    <div id="clock" style="display: inline-block; display: none;">
    	<input id="start" type="hidden">
    	<span class="countTimeMinute"></span>분 <span class="countTimeSecond"></span>초
    </div>
    <span class="forget"><a href="components/user/find_password.html" role="tab">비밀번호 찾기</a></span>
  </div>
  <div class="tabs__checkbox">
    
  </div>
  <input type="submit" value="로그인" id="loginButton">
</form>
<div id="snackbar"></div>

<!-- 로그인 Ajax -->
<script>
/**
 * 로그인 양식의 유효성 검사를 하는 자바 스크립트 파일
 */
var loginFormRequiredValidations = [
	Validation.isValidEmail,
	Validation.isValidPassword,
];

$("form#loginForm").submit(function(event) {
	event.preventDefault();
	
	var validationResult = Validation.validAllInputs(loginFormRequiredValidations);
	
	if(!validationResult) {
		return false;
	}
	
	var data = $(this).serialize();
	
	// 로그인 Ajax
	$.ajax(Utils.baseUrl + "user/login.mall", {
		method: "post",
		data: data,
		dataType: "json",
		success: function(data) {
			if ($("#checkbox").is(":checked") == true) {
				setCookie('email', data.EMAIL, 30);
			} else {
				setInstanceCookie('email', data.EMAIL);
			}
			defaultRoute('components/main.html', '.fixed__footer', function(){
				var email = getCookie("email");
				if (email !== null && email !== undefined) {
					var user = email.split("@");
					if (email != "") {
						$('#user').html(user[0] + "님 로그인 중...")
						$('#user').css("display", "block");
						$('#login_register').attr("href", "components/myPage.html");
						$('#login_register').attr("id", "myPage");
					}
				}
			});
		},
		error: function(data) {
			// 로그인 5회 이상 실패 처리
			if (getCookie('count') == "") {
				setInstanceCookie('count', '1');
				snackbar('존재하지 않는 회원입니다.');
			} else if (getCookie('count') == '1') {
				setInstanceCookie('count', '2');
				snackbar('존재하지 않는 회원입니다.');
			} else if (getCookie('count') == '2') {
				setInstanceCookie('count', '3');
				snackbar('존재하지 않는 회원입니다.');
			} else if (getCookie('count') == '3') {
				setInstanceCookie('count', '4');
				snackbar('존재하지 않는 회원입니다.');
			} else if (getCookie('count') == '4') {
				setInstanceCookie('count', '5');
				snackbar('5회 이상 로그인 오류로 1분간 로그인이 금지됩니다.');
		        $('#start').trigger("click");
		        $('#clock').css("display", "block");
		        $('#loginButton').attr("disabled", true);
			}
		}
	});
	
	return false;
});
</script>