<meta charset="utf-8">
<input type="email" id="email" name="email" placeholder="이메일">
<input type="hidden" name="emailDuplicationCheck" value="false">
<input type="button" id="emailConfirm" value="이메일 중복확인">
<br>
<input type="password" name="password" placeholder="비밀번호">
<input type="password" placeholder="비밀번호 확인">
<input type="text" name="user_name" placeholder="이름">
<input type="text" name="mobile" placeholder="핸드폰 번호">
<input type="text" placeholder="주민등록 번호">
<input type="text" id="postcode" placeholder="우편번호">
<input type="button" onclick="execDaumPostcode()" id="postFinder"
  value="우편번호 찾기">
<br>
<input type="text" id="address" placeholder="주소">
<input type="text" id="address2" placeholder="상세주소">
<input type="submit" value="회원가입" id="registButton">