<meta charset="utf-8">
<!-- 메인사진 -->
<div class="ht__bradcaump__area"
  style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center/cover;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">장바구니</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="index.html">메인</a> <span
                class="brd-separetor">/</span> <span
                class="breadcrumb-item active">장바구니</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 카트 리스트 -->
<div class="cart-main-area ptb--120 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table>
              <thead>
                <tr>
                  <th class="product-thumbnail">사진</th>
                  <th class="product-name">상품</th>
                  <th class="product-price">가격</th>
                  <th class="product-quantity">수량</th>
                  <th class="product-subtotal">총 가격</th>
                  <th class="product-remove">삭제</th>
                </tr>
              </thead>
              <tbody>
                <!-- 동적으로 내용이 생성되는 영역 -->
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-7 col-xs-12"></div>
            <div class="col-md-4 col-sm-5 col-xs-12">
              <div class="cart_totals">
                <h2>장바구니 합계</h2>
                <table>
                  <tbody>
                    <tr class="order-total">
                      <th>합계</th>
                      <td><strong><span class="amount"></span></strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="wc-proceed-to-checkout" style="clear: right;">
                  <a href="components/payment.html" id="goToOrderPage">주문하기</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
	// 장바구니 상세에서의 삭제 이벤트 처리
	$(document).on('click', '.product-remove a', function(event){
		event.preventDefault();
		
		// 장바구니 상세 페이지에서 삭제
		$(this).parents('tr').remove();
		printCartTotal();
		// 사이드 장바구니 동기화
		var targetProduct = $(this).parents('tr.product');
		var item = createCartItemFromTags(targetProduct, 'cartDetail');
		removeItemFromCart(item);
		printCart();
	});
	// 장바구니 상세에서의 수량 변화 이벤트 처리
	$(document).on('change','.product-quantity input', function(){
		
		var value = getCookie('cart');
		
		var targetProduct = $(this).parents('tr.product');
		var item = createCartItemFromTags(targetProduct, 'cartDetail');
		var originalItem = getItemFromCookieString(value, item[cartIndexes.indexOf('productId')]);
		
		// 사이드 장바구니에 반영
		value = replaceInAllCases(value, createItemString(originalItem), createItemString(item), true);
		setInstanceEncodedCookie('cart', value);
		printCart();
		
		// 상품별 합계와 장바구니 합계 출력
		var newSubTotal = getTotalPrice(item[cartIndexes.indexOf('quantity')], item[cartIndexes.indexOf('price')]);
		targetProduct.find('.product-subtotal').html(newSubTotal.toLocaleString() + '원');
		printCartTotal();
		
		
	});
	
	// 결제 화면으로 넘어가는 이벤트 
	$('.wc-proceed-to-checkout a').click(function(event){
		
		var items = [];
		var targetProducts = $('tr.product');
		for (var i = 0; i < targetProducts.length; i++) {
			var type = 'cartDetail';
			var itemTarget = targetProducts.eq(i);
			var item = createCartItemFromTags(itemTarget, type);
			
			items.push(item);
			
		}
		
		route(event, '#' + $(this).attr('id'), '.fixed__footer', function(){
			printItemsCommon('.puick-contact-area', items)
		});
	});
</script>
