<meta charset="utf-8">
<!-- 커스텀 css -->
<link rel="stylesheet" href="css/custom/item.css">
<link rel="stylesheet" href="css/custom/pagination.css">

<!-- 메인 사진 -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">와인찾기</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- 와인 검색 -->
<section class="htc__product__area shop__page ptb--130 bg__white">
  <div class="container">
    <div class="htc__product__container">
      <!-- 검색 메뉴 -->
      <div class="row">
        <div class="col-md-12">
          <div class="filter__menu__container">
            <div class="product__menu">
              <button class="is-checked">모두 검색</button>
              <button value="Red">Red</button>
              <button value="White">White</button>
              <button value="Rose">Rose</button>
              <button value="Sparkling">Sparkling</button>
              <button value="Sweet">Sweet</button>
            </div>
            <div class="filter__box">
              <a class="filter__menu" href="#">상세 검색</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- 필터 -->
      <div class="filter__wrap">
        <div class="filter__cart">
          <div class="filter__cart__inner">
            <div class="filter__menu__close__btn">
              <a href="#"><i class="zmdi zmdi-close"></i></a>
            </div>
            <div class="filter__content">
              <div class="fiter__content__inner">
                <div class="single__filter">
                  <h2>Sort By</h2>
                  <ul class="filter__list">
                    <li><a href="#default">Default</a></li>
                    <li><a href="#accessories">Accessories</a></li>
                    <li><a href="#bags">Bags</a></li>
                    <li><a href="#chair">Chair</a></li>
                    <li><a href="#decoration">Decoration</a></li>
                    <li><a href="#fashion">Fashion</a></li>
                  </ul>
                </div>
                <div class="single__filter">
                  <h2>Size</h2>
                  <ul class="filter__list">
                    <li><a href="#xxl">XXL</a></li>
                    <li><a href="#xl">XL</a></li>
                    <li><a href="#x">X</a></li>
                    <li><a href="#l">L</a></li>
                    <li><a href="#m">M</a></li>
                    <li><a href="#s">S</a></li>
                  </ul>
                </div>
                <div class="single__filter">
                  <h2>Tags</h2>
                  <ul class="filter__list">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Chair</a></li>
                    <li><a href="#">Decoration</a></li>
                    <li><a href="#">Fashion</a></li>
                  </ul>
                </div>
                <div class="single__filter">
                  <h2>Price</h2>
                  <ul class="filter__list">
                    <li><a href="#">$0.00 - $50.00</a></li>
                    <li><a href="#">$50.00 - $100.00</a></li>
                    <li><a href="#">$100.00 - $150.00</a></li>
                    <li><a href="#">$150.00 - $200.00</a></li>
                    <li><a href="#">$300.00 - $500.00</a></li>
                    <li><a href="#">$500.00 - $700.00</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- 와인 상품 -->
      <div class="row">
        <div class="product__list another-product-style" id="product">
        	<!-- 와인 상품 동적추가 -->
        </div>
      </div>
      
      <!-- 페이지네이션 -->
      <div class="row mt--60">
        <div class="col-md-12">
          <ul class="pagination pagination-lg">
    	  </ul>
        </div>
      </div>
    </div>
  </div>
</section>
        
<!-- 제품 상세보기 -->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal__container" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
          	<!-- 상세보기 동적 추가 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 와인 상품을 동적으로 추가 -->
<script src="js/custom/items.js"></script>
<!-- 와인 상품 상세보기 기능-->
<script src="js/custom/details.js"></script>
<!-- 페이지네이션 -->
<script src="js/common/pagination.js"></script>
<!-- Ajax통신 -->
<script>
$(function() {
	// 검색키워드 선언
	var searchKeyword;
	// 처음 로딩시 Ajax
	$.ajax(Utils.baseUrl + "product/list.mall", {
		method: "get",
		dataType: "json",
		success: function(data) {
			var productList = data.productList;
			var pageInfo = data.pageInfo;
			// 상품 리스트 출력
			$('#product').empty();
			$.each(productList, function(index, item) {
				printItems(item.productId, item.productNameKor, item.price);
			});
			// 페이지네이션
			$('.pagination-lg').empty();
			page(pageInfo.currentPage, pageInfo.endPage, pageInfo.next, pageInfo.prev, pageInfo.startPage, pageInfo.totalCount)
		},
		error: function(data) {
			alert('에러발생');
		}
	});
	
	// 페이지네이션 Ajax
	$(document).on ('click', '.pagination-lg a', function(event) {
		event.preventDefault();
		$.ajax(Utils.baseUrl + "product/list.mall", {
			method: "get",
			data: {
				"currentPage": $(this).attr("href"),
				"searchKeyword": searchKeyword
			},
			dataType: "json",
			success: function(data) {
				var productList = data.productList;
				var pageInfo = data.pageInfo;
				// 상품 리스트 출력
				$('#product').empty();
				$.each(productList, function(index, item) {
					printItems(item.productId, item.productNameKor, item.price);
				});
				
				// 화면 크기에 따른 상품리스트 정렬
				var viewport = $(document).width();
				var minWidth = 768;
				var nth;
				// 4개씩 출력되는 경우와 1개씩 출력되는 경우를 분할
				if (viewport > minWidth) {
					nth = 5;
				} else {
					nth = 1;
				}
				$('.single__pro:nth-child(' + nth + ')').addClass('new-line');
				
				// 페이지네이션
				$('.pagination-lg').empty();
				page(pageInfo.currentPage, pageInfo.endPage, pageInfo.next, pageInfo.prev, pageInfo.startPage, pageInfo.totalCount)
			},
			error: function(data) {
				alert('에러발생');
			}
		});
	});
	
	// 상세보기 Ajax
	$(document).on ('click', '.product__action li:first-child a', function(event) {
		event.preventDefault();
		$.ajax(Utils.baseUrl + "product/detail.mall", {
			method: "get",
			data: {
				"productId": $(this).attr("href")
			},
			dataType: "json",
			success: function(data) {
				// 상세보기 함수
				$('.modal-product').empty();
				details(data.productId, data.productNameKor, data.productNameEng, data.price, 
						data.sugarContent, data.body, data.kind, data.regionName, data.winery, 
						data.vintage, data.alcohol, data.grapeKind, data.totalQuantity);
			},
			error: function(data) {
				alert('에러발생');
			}
		});
	});
	
	// 와인 종류별 검색 Ajax
	$(document).on ('click', '.product__menu button', function(event) {
		searchKeyword = $(this).attr("value");
		$.ajax(Utils.baseUrl + "product/list.mall", {
			method: "get",
			data: {
				"searchKeyword": $(this).attr("value")
			},
			dataType: "json",
			success: function(data) {
				var productList = data.productList;
				var pageInfo = data.pageInfo;
				// 와인 종류별 검색
				$('#product').empty();
				$.each(productList, function(index, item) {
					printItems(item.productId, item.productNameKor, item.price);
				});
				// 페이지네이션
				$('.pagination-lg').empty();
				page(pageInfo.currentPage, pageInfo.endPage, pageInfo.next, pageInfo.prev, pageInfo.startPage, pageInfo.totalCount)
			},
			error: function(data) {
				alert('에러발생');
			}
		});
	});
});

</script>