<meta charset="utf-8">
<!-- 커스텀 css -->
<link rel="stylesheet" href="css/custom/login_register.css">

<!-- 로그인, 회원가입 -->
<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="login__register__menu" role="tablist">
          <li role="presentation" class="login active"><a href="components/user/login.html" role="tab">로그인</a></li>
          <li role="presentation" class="register"><a href="components/user/register.html" role="tab">회원가입</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="htc__login__register__wrap">
          <!-- 동적으로 내용이 바뀌는 부분 -->
          <div role="tabpanel" class="single__tabs__panel tab-pane fade in active">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JS 파일 -->
<!-- Daum Api -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="js/custom/daumApi.js"></script>
<!-- Timer.js -->
<script src="js/custom/timer.js"></script>
<!-- 쿠키를 설정하는 자바스크립트 파일 -->
<script src="js/common/cookie.js"></script>
<!-- 스낵바 -->
<script src="js/common/snackbar.js"></script>
<!-- 공통 함수 -->
<script src="js/common/Validation.js"></script>
<!-- 동적으로 내용 전환 -->
<script>
function toggleTabClass() {
	$('li.login').toggleClass('active');
	$('li.register').toggleClass('active');
}
$(function() {
	// 처음 실행 시에는 로그인 화면을 보여줌
	$('div[role="tabpanel"]').load('components/user/login.html');
	
	// 탭의 CSS를 이벤트에 알맞게 바꿔줌
	$(document).on("click", "li.login, li.register", function () {
		toggleTabClass();
    });
	
	// 화면을 탭에 따라 전환해주는 이벤트 등록
	$(document).on('click', 'a[role="tab"]', function(event){
		
		// 기본 이벤트 실행을 방지
		event.preventDefault();
		
		var fileToLoad = $(this).attr('href');
		$('div[role="tabpanel"]').load(fileToLoad);
	});	
});
</script>