<meta charset="UTF-8">
<!-- 커스텀 css -->
<link rel="stylesheet" href="css/custom/main.css">

<!-- 메인 와인 사진 -->
<section class="categories-slider-area pb--100 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="slider__container slider--one">
          <div class="slider__activation__wrap owl-carousel owl-theme">
            <!-- 첫번째 사진 -->
            <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/main1.jpg) no-repeat scroll center center / cover ;">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                    <div class="slider__inner">
                      <h1>Wine <span class="text--theme">Collection</span></h1>
                      <div class="slider__btn">
                        <a class="htc__btn" href="components/item.html" id="item">shop now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 두번째 사진 -->
            <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/main2.jpg) no-repeat scroll center center / cover ;">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                    <div class="slider__inner">
                      <h1>Wine <span class="text--theme">Collection</span></h1>
                      <div class="slider__btn">
                        <a class="htc__btn" href="components/item.html" id="item">shop now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 레드와인 -->
<section class="htc__product__area pb--100 bg__white" id="redwine">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="product-categories-all">
          <div class="product-categories-title">
            <h3>Red Wine</h3>
          </div>
          <!-- 레드와인 상세 설명 -->
          <div class="product-categories-menu">
          	<ul>
              <li>껍질을 벗기지 않은 포도로 빚은 술</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="product-style-tab">
          <div class="product-tab-list">
            <!-- 세부 네비게이션 -->
            <ul class="tab-style" role="tablist">
              <li class="active">
                <a href="#home1" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>신상품 </h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home2" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>베스트상품 </h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home3" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>할인상품 </h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content another-product-style jump">
            <!-- 신상품 -->
            <div class="tab-pane active" id="home1">
              <div class="row">
                <div class="product-slider-active owl-carousel" id="latest">
                  <!-- 신상품 동적 추가 -->
                </div>
              </div>
            </div>
            <!-- 베스트상품 -->
            <div class="tab-pane" id="home2">
              <div class="row">
                <div class="product-slider-active owl-carousel" id="best">
                  <!-- 베스트상품 동적 추가 -->
                </div>
              </div>
            </div>
            <!-- 할인상품 -->
            <div class="tab-pane" id="home3">
              <div class="row">
                <div class="product-slider-active owl-carousel" id="sale">
                  <!-- 할인상품 동적 추가 -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 배너 광고 -->
<div class="only-banner pb--100 bg__white">
  <div class="container">
    <div class="only-banner-img">
      <a href="#"><img src="images/banner/banner.jpg" alt="banner"></a>
    </div>
  </div>
</div>

<!-- 화이트와인 -->
<section class="htc__product__area pb--100 bg__white" id="whitewine">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="product-categories-all">
          <div class="product-categories-title">
            <h3>White Wine</h3>
          </div>
          <!-- 화이트와인 상세 설명 -->
          <div class="product-categories-menu">
          	<ul>
              <li>껍질을 벗긴 청포도를 발효시킨 것</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="product-style-tab">
          <div class="product-tab-list">
            <!-- 세부 네비게이션 -->
            <ul class="tab-style" role="tablist">
              <li class="active">
                <a href="#home1" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>신상품 </h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home2" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>베스트상품 </h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home3" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>할인상품 </h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content another-product-style jump">
            <!-- LATEST -->
            <div class="tab-pane active" id="home1">
              <div class="row">
                <div class="product-slider-active owl-carousel">
                  <!-- LATEST 첫번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/1.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- LATEST 두번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                      <div class="product">
                          <div class="product__inner">
                              <div class="pro__thumb">
                                  <a href="#">
                                      <img src="images/product/2.png" alt="product images">
                                  </a>
                              </div>
                              <div class="product__hover__info">
                                  <ul class="product__action">
                                      <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                      <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                      <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="product__details">
                              <h2><a href="product-details.html">Simple Black Clock</a></h2>
                              <ul class="product__price">
                                  <li class="old__price">$16.00</li>
                                  <li class="new__price">$10.00</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- LATEST 세번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/3.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- LATEST 네번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/4.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- LATEST 다섯번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/5.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- BEST SALE -->
            <div class="tab-pane" id="home2">
              <div class="row">
                <div class="product-slider-active owl-carousel">
                  <!-- BEST SALE 첫번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/4.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- BEST SALE 두번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/5.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- BEST SALE 세번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/6.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- BEST SALE 네번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/7.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- BEST SALE 다섯번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/8.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ON SALE -->
            <div class="tab-pane" id="home3">
              <div class="row">
                <div class="product-slider-active owl-carousel">
                  <!-- ON SALE 첫번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/2.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- ON SALE 두번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/1.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- ON SALE 세번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/5.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- ON SALE 네번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/4.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- ON SALE 다섯번째 상품 -->
                  <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                    <div class="product">
                      <div class="product__inner">
                        <div class="pro__thumb">
                          <a href="#">
                            <img src="images/product/3.png" alt="product images">
                          </a>
                        </div>
                        <div class="product__hover__info">
                          <ul class="product__action">
                            <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                            <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__details">
                        <h2><a href="product-details.html">Simple Black Clock</a></h2>
                        <ul class="product__price">
                          <li class="old__price">$16.00</li>
                          <li class="new__price">$10.00</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 구매, 반품 안내사항 -->
<section class="htc__blog__area bg__white pb--130" id="information">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__title section__title--2 text-center">
          <h2 class="title__line">안내사항</h2>
          <p>
            고객님께 알립니다.<br>
       <b>와인 및 주류는 법 조항 '주류의 통신판매에 대한 명령 위임 고시'</b>에 따라 <br>
                온라인에서 판매, 거래될 수 없습니다. 이에 Le-Vin은 웹사이트를 통해 상품의 <br>
                정보만 제공해드리고 있으며,  구매는 매장으로 직접 방문해주셔야 합니다. <br>
                원하시는 상품을 고르신 후 매장으로 문의  연락 주시면, 빠르고 편리하게 <br>
                구매하실 수 있도록 도와 드리겠습니다.<br><br>
                 감사합니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 제품 상세보기 -->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal__container" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <!-- 상세보기 동적 추가 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 와인 상품을 동적으로 추가 -->
<script src="js/custom/items.js"></script>
<!-- 와인 상품 상세보기 기능-->
<script src="js/custom/details.js"></script>
<script>
// 스크롤 이동
function fnMove(position){
	var offset = $("#" + position).offset();
    $('html, body').animate({scrollTop : offset.top}, 600);
}
//배열을 랜덤하게 변환
function shuffle(a) {
    var j, x, i;
    for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        a[i] = a[j];
        a[j] = x;
    }
    return a;
}
// Ajax 통신
$(function() {
	// 처음 로딩시 Ajax
	$.ajax(Utils.baseUrl + "product/list.mall", {
		method: "get",
		dataType: "json",
		data: {
			"searchKeyword": "Red"
		},
		success: function(data) {
			var productList = data.productList;
			var list = shuffle(productList).slice(0,5);
			
			// 상품 리스트 출력
			$('#latest').empty();
			$('#best').empty();
			$('#sale').empty();
			$.each(list, function(index, item) {
				printMainItems(item.productId, item.productNameKor, item.price, 'latest', item.totalQuantity);
			});
			list = shuffle(productList).slice(0,5);
			$.each(list, function(index, item) {
				printMainItems(item.productId, item.productNameKor, item.price, 'best', item.totalQuantity);
			});
			list = shuffle(productList).slice(0,5);
			$.each(list, function(index, item) {
				printMainItems(item.productId, item.productNameKor, item.price, 'sale', item.totalQuantity);
			});
		},
		error: function(data) {
			alert('에러발생');
		}
	});
	
	// 상세보기 Ajax
	$(document).on ('click', '.product__action li:first-child a', function(event) {
		event.preventDefault();
		$.ajax(Utils.baseUrl + "product/detail.mall", {
			method: "get",
			data: {
				"productId": $(this).attr("href")
			},
			dataType: "json",
			success: function(data) {
				// 상세보기 함수
				$('.modal-product').empty();
				details(data.productId, data.productNameKor, data.productNameEng, data.price, 
						data.sugarContent, data.body, data.kind, data.regionName, data.winery, 
						data.vintage, data.alcohol, data.grapeKind, data.totalQuantity);
			},
			error: function(data) {
				alert('에러발생');
			}
		});
	});
});
</script>