<meta charset="utf-8">
<!-- 메인사진 -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">주문하기</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- 결제하기 -->
<section class="our-checkout-area ptb--120 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <div class="ckeckout-left-sidebar">
          <!-- 주문자 정보 -->
          <div class="checkout-form">
            <h2 class="section-title-3">배송 정보 확인</h2>
            <div class="checkout-form-inner">
              <div class="single-checkout-box">
                <input type="text" placeholder="수신인 이름">
              </div>
              <div class="single-checkout-box">
                <input type="text" placeholder="수신인 전화번호">
              </div>
              <div class="single-checkout-box">
                <textarea name="message" placeholder="배송시 요청사항"></textarea>
              </div>
              <div class="single-checkout-box select-option mt--40">
                <select>
                  <option>신규배송지</option>
                  <option>과거배송지</option>
                </select>
              </div>
              <div class="single-checkout-box">
                <input type="email" placeholder="주소">
                <input type="text" placeholder="상세주소">
              </div>
            </div>
          </div>
          <!-- 결제방법 -->
          <div class="payment-form">
            <h2 class="section-title-3">카드 결제</h2>
            <div class="payment-form-inner">
              <div class="single-checkout-box">
                <input type="text" placeholder="카드 소유자 이름">
                <input type="text" placeholder="카드 번호">
              </div>
              <div class="single-checkout-box select-option">
                <select>
                  <option>Date*</option>
                  <option>Date</option>
                  <option>Date</option>
                  <option>Date</option>
                  <option>Date</option>
                </select>
                <input type="text" placeholder="CSC 번호">
              </div>
            </div>
          </div>
          <!-- 카드 종류 -->
          <div class="our-payment-sestem">
            <h2 class="section-title-3">사용 가능 카드 :</h2>
            <ul class="payment-menu">
              <li><a href="#"><img src="images/payment/1.jpg" alt="payment-img"></a></li>
              <li><a href="#"><img src="images/payment/2.jpg" alt="payment-img"></a></li>
              <li><a href="#"><img src="images/payment/3.jpg" alt="payment-img"></a></li>
              <li><a href="#"><img src="images/payment/4.jpg" alt="payment-img"></a></li>
              <li><a href="#"><img src="images/payment/5.jpg" alt="payment-img"></a></li>
            </ul>
            <div class="checkout-btn">
              <a class="ts-btn btn-light btn-large hover-theme" href="#">결제하기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="checkout-right-sidebar">
          <div class="our-important-note">
            <h2 class="section-title-3">주의사항 :</h2>
            <p class="note-desc">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut laborekf et dolore magna aliqua.</p>
          </div>
          <div class="puick-contact-area mt--60">
            <h2 class="section-title-3">사진 넣을게요~ 아래는 결제 상품</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
