<meta charset="UTF-8">

<!-- 메인 사진 -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">1:1 문의</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 1:1문의 게시판 -->
