<meta charset="UTF-8">
<!-- 커스텀 css -->
<link rel="stylesheet" href="css/custom/qna.css">
<link rel="stylesheet" href="css/custom/pagination.css">

<!-- 메인 사진 -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">1:1 문의</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 1:1문의 게시판 -->
<div class="container">
  <div class="row content">
    <div class="row">
      <div class="col-md-12" id="qnaSection">
        
      </div>
    </div>
  </div>
</div>

<!-- 페이지네이션 -->
<script src="js/common/pagination.js"></script>
<!-- Q&A Ajax 통신 -->
<script src="js/custom/qna.js"></script>
<!-- 게시글 상세보기-->
<script src="js/custom/qna_details.js"></script>